@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Merhaba CET Mağazamıza Hoş Geldiniz</h1>
    <p><a href="https://cet.boun.edu.tr"> Bölüm websitemizi </a>ziyaret etmeyi unutmayın .</p>
</div>
