@model List<Book>
@{
    ViewData["Title"] = "Kitap Listesi";
}

<h1>Stoktaki Kitaplar</h1>


<div class="row">

    @foreach (var item in @Model)
    {
        <div class="card col-3">

            <div class="card-body">
                <h5 class="card-title">@item.Name</h5>
                <p class="card-text"> @item.Price TL </p>
                <a asp-controller="Books" asp-action="Detay" asp-route-id="@item.Id" class="btn btn-primary">Detay</a>
            </div>
        </div>
    }


    

</div>



